
@{
    ViewData["Title"] = "AllTables";
}

<h1>AllTables</h1>

<div class="text-center">

<a asp-controller="Books" asp-action="Index">
    <button type="button"> Перейти к списку книг </button>
</a>
<br />
<a asp-controller="Autors" asp-action="Index">
    <button type="button"> Перейти к списку авторов </button>
</a>
<br />
<a asp-controller="Categories" asp-action="Index">
    <button type="button"> Перейти к списку категорий </button>
</a>
<br />
<a asp-controller="Lables" asp-action="Index">
    <button type="button"> Перейти к списку меток </button>
</a>
<br />
<a asp-controller="Readers" asp-action="Index">
    <button type="button"> Перейти к списку читателей </button>
</a>
<br />
<a asp-controller="Shelves" asp-action="Index">
    <button type="button"> Перейти к списку полок </button>
</a>
<br />
<a asp-controller="ReadingLogs" asp-action="Index">
    <button type="button"> Перейти к к журналу читателей </button>
</a>
</div>