
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MyLibrary</h1>
     <!-- Переход на страницу со списком книг-->
     <a asp-controller="Books" asp-action="Index">
         <button type = "button"> Перейти к списку книг </button>
     </a>
</div>
<p>В проекте реализован ряд таблиц:</p>
<ol>
    <li>
        <p>
            Таблица книг
        </p>
        <ol>
            <li>Идентификатор книги</li>
            <li>Идентификатор автора</li>
            <li>Идентификатор категории</li>
            <li>Изображение (в виде массива byte)</li>
            <li>Идентификатор Полки, на которой находится книга </li>
            <li>Идентификатор метки</li>
        </ol>
    </li>
    <li>
        <p>
            Таблица авторов
        </p>
        <ol>
            <li>Идентификатор</li>
            <li>Имя</li>
            <li>Фамилия</li>
            <li>Отчество</li>
        </ol>
    </li>
    <li>
        <p>
            Таблица категорий
        </p>
        <ol>
            <li>Идентификатор</li>
            <li>Наименование категории</li>
        </ol>
    </li>
    <li>
        <p>
            Таблица меток
        </p>
        <ol>
            <li>Идентификатор</li>
            <li>Наименование метки</li>
        </ol>
    </li>
    <li>
        <p>
            Таблица читателей
        </p>
        <ol>
            <li>Идентификатор</li>
            <li>Имя</li>
            <li>Фамилия</li>
            <li>Отчество</li>
            <li>Фамилия</li>
            <li>Отчество</li>
            <li>Дата регистрации</li>
            <li>Дата рождения</li>
        </ol>
    </li>
    <li>
        <p>
            Таблица полок
        <p/> 
        <ol>
            <li>Идентификатор</li>
            <li>Наименование полки</li>
        </ol>
    </li>
</ol>
